.main {
  font-family: 'Inter', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
  animation: fadeIn 0.7s ease-in-out forwards; /* Dodaj animację fadeIn */
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .main_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    background-color: #ffffff;
    border: 2px solid red;
  }
}
